alembic==1.0.2
atomicwrites==1.2.1
attrs==18.2.0
autopep8==1.4.2
beautifulsoup4==4.6.3
bottle==0.12.13
cloudpickle==0.6.1
cycler==0.10.0
Cython==0.29
dask==0.20.0
decorator==4.3.0
flake8==3.6.0
future==0.17.1
kiwisolver==1.0.1
Mako==1.0.7
MarkupSafe==1.0
matplotlib==3.0.1
mccabe==0.6.1
more-itertools==4.3.0
networkx==2.2
numpy==1.15.4
pandas==0.23.4
Pillow==5.3.0
pluggy==0.8.0
py==1.7.0
pycodestyle==2.4.0
pyflakes==2.0.0
pyparsing==2.3.0
pytest==3.10.0
python-dateutil==2.7.5
python-editor==1.0.3
pytz==2018.7
PyWavelets==1.0.1
-e git+https://github.com/ReNom-dev-team/ReNom.git#egg=renom-2.6.2
-e git+git@gitlab.com:grid-devs/ReNomRG.git@209cf3c9aa4c66a1052d797c06f7c473fdd8e1ab#egg=renom_rg
scikit-image==0.14.1
scikit-learn==0.20.0
scipy==1.1.0
six==1.11.0
SQLAlchemy==1.2.13
toolz==0.9.0
waitress==1.1.0
WebOb==1.8.3
WebTest==2.0.32
