@import url('http://fonts.googleapis.com/css?family=Open+Sans');

$full-screen-width: 100vw;
$full-screen-height: 100vh;
$max-width: 1280px;
$scroll-bar-width: 10px;

// colors
$background-gray: #f3f3f1;
$white: #ffffff;
$light-gray: #cccccc;
$gray: #999999;
$black: #666666;
$dark-blue: #063662;
$blue: #136eab;

// font-size
$fs-regular: 1rem;
$fs-small: 0.8rem;

// modal
$modal-opacity: 0.5;
$modal-content-width: 70%;
$modal-content-height: 80%;
$modal-content-padding: 32px;
$modal-tab-width: 200px;
$modal-tab-height: 40px;

/**
* header
*/
$header-height: 40px;

/**
* footer
*/
$footer-height: 100px;

// page list area
$list-width: 20%;
// page main content
$content-width: 80%;
// main content left
$content-left-width: 60%;
// main content right
$content-right-width: 40%;

// content height
$content-height: 1440px;
$dashboard-height: 360px;
$model-map-height: 360px;
$model-detail-height: 360px;
$learning-curve-height: 360px;
$prediction-sample-height: 480px;
$features-height: 240px;
$model-list-item-height: 120px;

/**
* custom scroll bar
*/
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background: $background-gray;
  border: none;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb{
  background: #aaa;
  border-radius: 6px;
  box-shadow: none;
}


/**
* apply all element
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: $black;
}

$input-base-width: 160px;
/**
* textarea resize none
*/
textarea {
  resize: none;
  width: $input-base-width;
  border: 1px solid $light-gray;
  color: $gray;
}

/**
* input
*/
input[type=text] {
  width: $input-base-width;
  border: 1px solid $light-gray;
  color: $gray;
}

/**
* select
*/
select {
  width: $input-base-width;
  background: $white;
  border: 1px solid $light-gray;
  color: $gray;
}

/**
* button base css
*/
button {
  height: 40px;
  width: 80px;
  border: none;
  background-color: $blue;
  line-height: 40px;
  font-size: $fs-regular;
  color: $white;
}

/**
* cancel button base css
*/
.button-cancel {
  border: 1px solid $light-gray;
  background-color: $white;
  line-height: 38px;
  color: $gray;
}

/**
* panel content base css
*/
$panel-title-height: 32px;
$panel-content-padding: 16px;
.panel {
  width: 100%;
  height: 100%;
  padding: 8px;

  .panel-title {
    width: 100%;
    height: $panel-title-height;
    padding-left: $panel-content-padding;
    background-color: $dark-blue;
    color: $white;
    line-height: $panel-title-height;
  }

  .panel-content {
    width: 100%;
    height: calc(100% - #{$panel-title-height} - 8px);
    margin-top: 8px;
    background: $white;
  }
}

/**
* algorithm background color class
*/
.c-gcnn {
  background: #903e84;
}
.kernel-gcnn {
  background: #423885;
}
.dbscan-gcnn {
  background: #136eab;
}
.running {
  background: #0099ce;
}
.reserved {
  background: #cccccc;
}

.train {
  background: #0762ad;
}
.validation {
  background: #ef8200;
}

/**
* mixins
*/
@mixin prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

@mixin transform-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  @include prefix("transform", "translateY(-50%) translateX(-50%)");
}
